@import 'vars';
@import 'mixin';


#home {    
    /* margin-top: -34rem; */
    background-image: url(../images/home_fondo2.png);
    background-size: cover;
    background-position: center;
    #logo {
        margin-top: 4rem;
        height: 90vh;        
    }
}

@media screen and (max-width: 370px) {
    #home {

        #logo {
            margin-top: 4rem;
            height: 70vh;        
        }
    }

}



