$colorPrincipal: black;
$colorSecundario: #2f00ff;
$colorTerciario: white;
$fuentePrincipal: 'Darker Grotesque', sans-serif;
$fondo: white;
$fondo2: black;
$borderPrincipal: solid $colorPrincipal 1px;

